////.............HEADER
header {
  .main-header {
    text-align: center;
    padding: 35px 0 12px;
    transition: all 0.3s;

    h1 {
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      color: #2e2e2e;
     @extend %transition;
    }

    @media (min-width: 640px) {
    padding: 20px 0 30px;
    }


    @media (min-width: 1024px) {
      padding: 40px 0 10px;
      display: inline-block;
      text-align: left;
    }
  }

  img {
    max-width: 50px;
    display: inline-block;
    margin-right: .3em;
    @extend %transition;

    @media (min-width: 1024px) {
      margin: 0 .3em 0 1.7em;
    }
  }

  @extend %transition;

//.....SHRINK HEADER.............
  @media (min-width: 640px) {
    &.smaller {
      padding: 0;
      box-shadow: 0 1px 2px;

      .main-header {
        @media (min-width: 1024px) {
          padding: 40px 0 10px;
        }
        h1 {
          font-size: 19px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

        img {
          max-width: 30px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
      }

      li {
        font-size: 15px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        a {
          padding: 15px;
        }
      }
    }
  }

  @media (min-width: 640px) {
    margin: 0 auto;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #fff;
  }
}
